/* .styledResumeData {
    color: green;
    background-color: blanchedalmond;
    font-size: 15px;
} */

.itemStyle {
    color: chartreuse;
    background-color: rgb(41, 11, 70);
    font-size: 12px;
}